{% extends 'base/main.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="card mt-5 " style="width: 18rem;margin-right: 40px;">
            <img class="card-img-top" src="https://m.media-amazon.com/images/I/71cngLX2xuL._AC_SL1500_.jpg"
                alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">Redragon K552 Mechanical Gaming Keyboard</h5>
                <p class="card-text">
                    Redragon K552 Mechanical Gaming Keyboard RGB LED Rainbow Backlit Wired
                    Keyboard with Red Switches for Windows Gaming PC (87 Keys, Black) <br>
                <h5> INR 2,773.80</h5>
                </p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
            </div>
        </div>

        <div class="card mt-5" style="width: 18rem;margin-right: 40px;">
            <img class="card-img-top" src="https://m.media-amazon.com/images/I/71yGtauB-AL._AC_SL1500_.jpg"
                alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">Havit Mechanical Keyboard</h5>
                <p class="card-text">
                    Havit Mechanical Keyboard, Wired Compact PC Keyboard with Number Pad Red Switch Mechanical Gaming
                    Keyboard 89 Keys for Computer/Laptop (Black) <br>
                <h5> INR 3,614.60</h5>
                </p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
            </div>
        </div>


        <div class="card mt-5 " style="width: 18rem ;margin-right: 40px;">
            <img class="card-img-top" src="https://m.media-amazon.com/images/I/61qEIkedEjL._AC_SL1500_.jpg" a
                lt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">
                    Anivia Mechanical Gaming Keyboard</h5>
                <p class="card-text">

                    Anivia Mechanical Gaming Keyboard, MK1 Wired LED Blue Backlit Keyboard with 87 Key Compact Computer
                    Keyboard Win/MacOS/iOS/Android, with Rotary Knob for...

                    <br>
                <h5>INR 2,521.56</h5>
                </p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
            </div>
        </div>
        <div class="card mt-5 " style="width: 18rem ;margin-right: 35px;">
            <img class="card-img-top" src="https://m.media-amazon.com/images/I/61mavXpgAWL._AC_SX679_.jpg"
                alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">
                    Womier K87 TKL Keyboard</h5>
                <p class="card-text">

                    Womier K87 TKL Keyboard, Hot Swappable Mechanical Keyboard, 87 Keys Custom Gaming Keyboard, 75% RGB
                    Keyboard 6 <br>
                <h5>INR 7,566.36</h5>
                </p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
            </div>
        </div>


    </div>
</div>

{% endblock %}